body {
  position : absolute;
  font-family: "RegulontF";
  background-image: url(img/grid-18px-masked.png);
  font-size: 8pt;
  /*width: 19cm;
  left: 50%;
  margin-left: -9.5cm;*/
}

input:-webkit-autofill {
  background:none;
}

#bulk_action_button{
  margin-bottom: 10px;
}

#container{
  margin-left: 10px;
}

#presente{
  margin-left:10px;
}

#barretitre{
  margin:10px;
}

#barretitre input:-webkit-autofill {
  background-color: #cdffbd !important;
  color: black;
}

#barretitre .btn {
  margin-bottom: 10px;
}

a {
  color: gray;
  font-size: 12px;
  text-decoration: none;
}

.loading{
display: inline;
height: 16px;
width: 16px;
background: url(images/loading.gif) no-repeat;
padding: 2px 8px;
margin: 0px 11px;
}


a:hover {
  color: red;
}

.btn
{
  font-family: "RegulontF";
  font-size: 8pt;
  background:white;
  border:solid 1px gray
}

.document-line{
  padding:0px 0px 25px 0px;
}

a.delete_document{
  cursor: pointer;
  display: block;
  float: left;
}

a.copy_document{
  cursor: pointer;
  display: block;
  float: left;
}

a.transform_document{
  cursor: pointer;
  display: block;
  float: left;
}

span.price {
  display: block;
  width: 99px;
  float: left;
  text-align: right;
}

.document-line:nth-child(2n){
  background:#EEE;
  background-color: rgba(0,0,0,0.1);
}

td.price{
  text-align: right;
}

#content text {
  display: block;
  float: left;
  width: 450px;
  overflow: hidden;
  text-overflow: ellipsis;
}

a.open_document{
  display:block;
  float:left;
  margin: 0px 20px 0px 0px;
  cursor: pointer;
}

#menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#menu li { 
  display: inline;
}

#menu li a {
  cursor: pointer;
  padding: .2em 1em;
  color: #fff;
  background-color: #036;
  font-size: 12px;
  text-decoration: none;
}

#menu li a:hover {
  color: red;
}

#resume {
  margin: 10px 0px;
}

@font-face {
    font-family: 'RegulontF';
    src: url('fonts/andalem0n0-webfont.eot');
    src: url('fonts/andalem0n0-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/andalem0n0-webfont.woff') format('woff'),
         url('fonts/andalem0n0-webfont.ttf') format('truetype'),
         url('fonts/andalem0n0-webfont.svg#RegulontF') format('svg');
    font-weight: normal;
    font-style: normal;

}

