body
{
	position : absolute;
	font-family: "RegulontF";
	font-size: 8pt;
	width: 19cm;
	left: 50%;
	margin-left: -9.5cm;
}

a
{
	text-decoration: none;
	color: black;
}

a:hover
{
	color: red;
}

td
{
	font-size: 8pt;
}

ul
{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

li
{ 
	display: inline;
}


ul.ui-autocomplete li a
{
	text-decoration: none;
	color: #000;
	font-family: 'RegulontF', serif;
	background-color: #EEE;
	font-size: 9px;
}

.ui-menu .ui-menu-item a{
	cursor:pointer;
}

ul li a
{
	text-decoration: none;
	padding: .2em 1em;
	color: #fff;
	background-color: #036;
	font-size: 12px;
}

tr.designation{
	font-weight: bold;
	}

#entete
{
	width: 19cm;
	height: 4.5cm;
	background:url("images/logo_noir_bande.png") left bottom no-repeat;
}

#entete input, #entete textarea{
	font-size:9.4px;
}

#resume
{
	padding-top: 2cm;
}

#resume textarea{
	width:100%;
}

.title
{
	font-size: 12pt;
	font-weight:bold;
}

.section
{
	position: relative;
	margin-top: 0.5cm;
}

.grip {
	cursor: pointer;
	background: blueViolet;
	float: right;
	display: none;
	height: 100%;
	width: 6px;
	margin: 0px;
	padding:0px;
	position: absolute;
	right: 0px;
	top: 2px;
}

.section_table
{
	font-size: 12pt;
	margin-top: 0.5cm;
}

.section table
{
	border-collapse: collapse;
	padding-top: 1mm
}

#addSection
{
	margin-left:-30px;
	font-size: 12pt;
}

.removeSection
{
	margin-left:-30px;
	font-size: 11pt;
}

.removeLine
{
	margin-left:-22px;
}

div#remise
{
	padding-top: 7mm;
}

div#remise table
{
	border-collapse: collapse;
}

#totaux
{
	padding-top: 7mm;
}

#totaux table
{
	border-collapse: collapse;
}

#conditions
{
	margin-top: 1cm;
	margin-right: 70mm;
}

#signature
{
	margin-top: 1cm;
	width: 100%;
	text-align: right;
}

.linefirst
{
	padding-top: 2pt;
	padding-bottom: 1pt;
	border-bottom: 0.7pt solid black;
	border-top: 0.7pt solid black
}

.line
{
	padding-top: 2pt;
	padding-bottom: 1pt;
	border-bottom:0.7pt solid black
}

#current_status {
	font-size: 10px;
	width: 95%;
	text-align: left;
}

input, textarea
{
	font-family: "RegulontF";
	font-size: 8pt;
	border: 0px;
	background-color: #F5F5F5;
}

.modifiy
{
	background-color: #F5F5F5;
}


select
{
	font-family: "RegulontF";
	font-size: 12pt;
	background:white;
	border:solid 1px gray
}

#update_default_val {
	font-size: 15px;
	cursor: pointer;
	margin-left: 10px;
}

@font-face {
    font-family: 'RegulontF';
    src: url('fonts/andalem0n0-webfont.eot');
    src: url('fonts/andalem0n0-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/andalem0n0-webfont.woff') format('woff'),
         url('fonts/andalem0n0-webfont.ttf') format('truetype'),
         url('fonts/andalem0n0-webfont.svg#RegulontF') format('svg');
    font-weight: normal;
    font-style: normal;

}
